/* Styles for website should be developed here */

/* Universal Styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Gill Sans', sans-serif;
}
/* ------------------*/

/* "Landing page styles" e.g login + forgot password */
.landing_header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(184, 184, 184);
    position: relative;
}
.landing_header div img{
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: solid black 1px;
    box-shadow: 2px 2px 2px black;
    position: absolute;
    object-fit: contain;
}
.landing_header a{
    font-size: 26px;
    top: 20px;
    left: 85px;
    width: 160px;
    text-wrap: wrap;
    position: absolute;
    color: black;
    text-decoration: none;
}
.landing_header ul{
    width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.landing_header ul .title{
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: bold;
}
.landing_header ul p{
    font-style: italic;
    text-align: center;
    font-size: 16px;
}

/* Log-in Box + Forgotten pw box */
.landing_main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.landing_main .box {
    margin-top: 40px;
    width: 400px;
    border: solid grey 2px;
    border-radius: 3px;
    background-color: rgb(239, 239, 239);
    text-align: center;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 60px;
}
.landing_main .box p{
    margin: 20px;
    font-size: 14px;
}
.landing_main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.landing_main form ul {
    list-style-type: none;
    margin-top: 20px;
}
.landing_main form ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.landing_main form ul li label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.landing_main form ul li input {
    width: 300px;
    font-size: 14px;
    padding: 5px;
    border: solid black 2px;
    border-radius: 3px;
}
.landing_main form ul li textarea {
    width: 300px;
    font-size: 14px;
    padding: 5px;
    border: solid black 2px;
    border-radius: 3px;
    height: 60px;
}

.landing_main form .rememberMe {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 14px;
}
.landing_main form .rememberMe input{
    margin-right: 2px;
    cursor: pointer;
}
.landing_main form .rememberMe a {
    text-align: right;
    font-size: 14px;
    text-decoration: underline;
    font-style: italic;
    color: black;
}
.landing_main form #forgot_password_submit {
    margin-top: 10px;
}

.landing_main form button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80%;
    padding: 12px;
    color: white;
    background-color: rgb(111, 111, 111);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.landing_main form button:hover {
    background-color: rgb(125, 125, 125);
}


/* Landing page Footer */
.landing_footer {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgb(184, 184, 184);
    position: fixed;
    bottom: 0;
}
.landing_footer #support {
   font-size: 20px;
   margin-top: 20px;
   display: flex;
   width: 200px;
   justify-content: center;
}
.landing_footer #support a{
    color: black;
    text-decoration: none;
}
.landing_footer #support a:hover{
    font-style: italic;
    text-decoration: underline;
}

/* --------------------------------*/


/* Default Styles */

#home-main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#div_sidebar {
    background-color: rgb(207, 206, 206);
    border-right: solid black 1px;
    width: 220px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#div_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 230px;
    height: 60px;
    font-weight: normal;
}
#div_logo img {
    width: 50px;
    height: 50px;
    top: 5px;
    left: 0px;
    border-radius: 50%;
    border: solid black 1px;
    box-shadow: 2px 2px 2px black;
    position: absolute;
    object-fit: contain;
}
#div_logo h1 {
    font-size: 20px;
    text-wrap: wrap;
    width: 140px;
    margin-left: 40px;
}

#ul_menu {
    margin-top: 120px;
    height: 600px;
    margin-bottom: 45px
}
#ul_menu li, #ul_support_settings li{
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
}
#ul_menu a:hover, #ul_support_settings a:hover{
    color: white;
    background-color: rgb(3, 0, 161);
    text-decoration: underline;
}
#ul_menu li img, #ul_support_settings li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#ul_menu li a{
    display: flex;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: solid black 1px;
    border-radius: 20px;
    height: 40px;
    width: 145px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.719);
}

#ul_support_settings {
    margin-top: 40px;
}

#div_logout {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 10px;
    opacity: .4;
    position: fixed;
    bottom: 10px;
    background-color: rgb(207, 206, 206);
}
#div_logout img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#div_logout a{
    display: flex;
    font-size: 16px;
    margin-left: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: solid black 1px;
    border-radius: 20px;
    height: 30px;
    width: 95px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.719);
}

#div_info {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}
#div_logout a:hover{
    text-decoration: underline;
    color: white;
    background-color: rgb(156, 0, 0);
}

#ul_menu a.selected {
    font-weight: bold;
    background-color: rgb(3, 0, 161);
    color: white;
}

#div_header {
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: right;
    align-items: center;
    height: 110px;
    width: calc(100vw - 220px);
    position: absolute;
    top: 0;
    left: 220px;
    border-bottom: solid black 1px;
}

#div_header img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: solid black 1px;
    object-fit: contain;
    display: flex;
    position: absolute;
    right: 17px;
}

#div_header #header_title {
    display: flex;
    position: absolute;
    right: 120px;
    font-weight: bold;
    font-size: 30px;
    top: 25px;
}

#div_header #header_subtitle {
    display: flex;
    position: absolute;
    right: 120px;
    top: 55px;
    font-style: italic;
    color: grey;
    font-size: 20px;
}

#div_info {
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: calc(100vw - 220px);
    position: absolute;
    bottom: 0;
    left: 220px;
    border-top: solid black 1px;
}


.div_content {
    display: flex;
    position: absolute;
    top: 110px;
    left: 220px;
    width: calc(100vw - 220px);
    height: calc(100vh - 150px);
    flex-direction: column;
}


/* Home page content */
.div_content #content_title {
    display: flex;
    position: absolute;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    top: 25px;
    left: 15px;
}

.div_content #content_p {
    display: flex;
    position: absolute;
    height: 150px;
    font-size: 16px;
    top: 89px;
    left: 15px;
}

.div_content #content_p2 {
    display: flex;
    position: absolute;
    font-size: 16px;
    top: 150px;
    left: 15px;
}
/* ++++++++++++++++++++*/

/* Admin page content */

#content_admin {
    display: flex;
    position: absolute;
    top: 110px;
    left: 220px;
    width: calc(100vw - 220px);
    height: calc(100vh - 150px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content_admin ul li{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 150px;
    width: 400px;
    margin-bottom: 20px;
}

#content_admin ul li a {
 text-decoration: none;
}

#content_admin ul li a button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 0, 161);
}

#content_admin ul li a button{
    display: flex;
    position: relative;
    width: 250px;
    height: 85px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

#content_admin ul li img{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 25px;
}

#p_admin {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}




/* ++++++++++++++++++++*/

/* Ensure the main content is displayed as a flex container */
#performance-main {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 40px); /* Adjust height to account for the footer */
    overflow: hidden; /* Prevent overflow */
}

/* Style the performance table container */
#perf_table {
    flex: 1; /* Take up the remaining space */
    overflow: auto;
}

/* Style the table */
#factory_logs_table {
    width: 100%;
    border-collapse: collapse;
}

#factory_logs_table th, #factory_logs_table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#factory_logs_table th {
    background-color: #f2f2f2;
    text-align: left;
}
/* Style the scrollbars for WebKit browsers */
#perf_table::-webkit-scrollbar {
    width: 16px; /* Set the width of the scrollbar */
    height: 16px; /* Set the height of the scrollbar */
}

#perf_table::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 8px; /* Set the border radius of the scrollbar thumb */
}

#perf_table::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set the color of the scrollbar thumb on hover */
}

#perf_table::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the scrollbar track */
}